<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cutecensus</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sunshiney&family=Twinkle+Star&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="hearts.css">
    <!-- Javascript -->
    <script src="hearts.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Cutecensus</h2>
        <div id="links">
            <h3><a href="/standings">Standings</a></h3>
            <h3><a href="/head2head">Head2Head</a></h3>
            <h3><a href="/faq">FAQ</a></h3>
        </div>
    </div>
    <div id="faq">
        <h4 class="q">Q: But why?</h4>
        <p class="answer">All animals are cute, but some animals are more cute than others.</p>
        <h4 class="q">Q: This can't be right, how could $MY_FAVORITE_ANIMAL be less cute than $A_MUCH_CUTER_ANIMAL???</h4>
        <p class="answer">The people have spoken.</p>
        <h4 class="q">Q: What is the scoring system?</h4>
        <p class="answer">
            Cuteness is calculated based on head-to-head comparisons using the
            <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Elo rating system</a>. Please do not spend too
            long thinking about whether this makes sense.
        </p>
        <h4 class="q">Q: What is stopping me from spamming?</h4>
        <p class="answer">Nothing but respect for the seriousness of this competition.</p>
        <h4 class="q">Q: Who made this?</h4>
        <p class="answer"><a href="https://bsky.app/profile/sagesagesage.bsky.social">some degen</a></p>
        <h4 class="q">Q: What's this built on?</h4>
        <p class="answer"><a href="http://vanilla-js.com/">Vanilla JS</a>. Backend is a Kotlin Spring Boot server running on AWS.</p>
    </div>
</div>
</body>
</html>